/* NAVBAR ICONS */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 10px;
    margin-right:10px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.middle_align{
        justify-content: center;
        align-items: end;
        display: flex;
}

/* HEADER GRADIENT ANIMATIONS */
.header {
    /* position: absolute; */
    /* top: 50%; */
    top: 10%;
    left: 50%;
    text-align: center;
    /* transform: translate(-50%, -50%); */
    background: linear-gradient(-45deg, #DFB79E, #DFB79E, #2B0413, #2B0413, #E25D52, #E25D52);
    background-size: 300%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 5vw;
    letter-spacing: -5px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 6s ease-in-out infinite;
    -moz-animation: animated_text 6s ease-in-out infinite;
    -webkit-animation: animated_text 6s ease-in-out infinite;
}

@keyframes animated_text {
    0% {
        background-position: 0px 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0px 50%;
    }
}

/* CONTENT */
.content {
    background-color:#FFF9EE;
}

/* ABOUT ME SECTION */
#intro{
    padding-top: 50px;
}
.basic-1 {
	padding-top: 100px;
	padding-bottom: 3rem;
}

.basic-1 .text-container {
	/* margin-bottom: 3rem; */
    padding-left: 10px;
}
.text-container > h2{
    padding-right: 30px;
}

.text-container > p{
    text-align: justify;
    padding-right: 50px;
}

.basic-1 .section-title {
	margin-bottom: 0.5rem;
}

.basic-1 h2 {
	margin-bottom: 1.375rem;
}

.basic-1 .testimonial-author {
	color: #484a46;
}

/* Hover Animation */
.basic-1 .image-container {
	overflow: hidden;
	border-radius: 50%;
}

.basic-1 .image-container .profile {
	margin: 0;
	border-radius: 50%;
	transition: all 0.3s;
}

.basic-1 .image-container:hover .profile {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 


/* PROGRESS BARS */

.progress {
    height: 25px; 
    border-radius: 25px;
    width: 80%;
    /* margin-left: 10%; */
    border: 3px solid #2B0413;
    background-color: grey;
    box-shadow: 0px 0px 15px #E25D52;
    margin-bottom: 10px;
}

.progress-bar{
    background-color: #FFF9EE;
    animation: progress 5s;
    animation-iteration-count: 1;
    animation-fill-mode: inherit;
}

@keyframes progress-bar {
    0% {
        width: 0%;
    }
    80% {
        width: 80%;
    }
}


/* SLIDER */
/* * {
    margin: 0;
    padding: 0;
  } */

  .main {
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
  }
  
  .slideshow {
    position: relative;
  }
  
  .slide {
    position: relative;
    display: none;
  }
  
  .slide-number {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
    font-size: 1.6rem;
    color: white;
  }
  
  .slide-image {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1000px;
  }
  
  .slide-image img {
    width: 100%;
  }
  
  .slide-image figcaption {
    position: absolute;
    right: 0;
    bottom: 8px;
    left: 0;
    margin: 0 auto;
    text-align: center;
    color: white;
  }
  
  .slide.is-active {
    display: block;
  }
  
  .controls {
    position: absolute;
    top: calc(50% - 50px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
  }
  
  .controls button {
    padding: 16px;
    border: none;
    font-size: 1.8rem;
    color: #2B0413;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .dots-container {
    height: 20px;
    margin-top: 16px;
    text-align: center;
  }
  
  .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 4px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    transition: 0.6s ease;
    cursor: pointer;
  }
  
  .dot.is-active,
  .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 0.4s;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  

